<!DOCTYPE html>
<html lang="en">
<head>
    <title>DevReady | Employee Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="emp_dashboard">

<div class="dashboard-container">

    <header class="dashboard-header">
        <h1>DevReady Employee Dashboard</h1>
        <a href="/logout" class="logout-btn">Logout</a>
    </header>

    <section class="welcome-section">      
        <h2>Progress</h2>

        <div class="progress-bar">

            <div class="progress-fill"style="width: {{progress}}%">
        </div>

        </div>

        <p>{{progress}}% completed</p>

        <div class="task-list">

            {% for task in tasks %}

        <div class="task-card">

            <form method="POST" action="/complete_task/{{task.id}}">

            <label class="task-checkbox">

            <input type="checkbox"onchange="this.form.submit()"{% if task.completed %} checked {% endif %}>

                    <span class="checkmark"></span>

                    </label>

                    <span class="task-text">
                {{task.title}}
                </span>

            </form>

        </div>

            {% endfor %}

        </div>

    </section>

</div>

</body>
</html>